*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
}
.container{ 
    background-image: url(assets/bg.png);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
   
} 
.navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.grow-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 350px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border-left: 2px solid #fff;
    justify-content: flex-start;
}
.list > li{
    margin-inline-start: 60px;
    color: #fff;
    font-family: 'Poppins';
    cursor: pointer;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.hero-heading{
    font-size: 55px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
}
.hero-description{
    font-size: 20px;
    font-family: 'Poppins';
    color: #fff;
}
.button-large{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins';
    color: #fff;
    background-color: #b32dec;
    border: none;
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.button-small{
    margin-right: 50px;
    font-size: 10px;
    font-family: 'Poppins';
    color: #fff;
    background-color: #b32dec;
    border: none;
    padding: 5px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.button-large:hover{
    background-color: #fff;
    color: #b32dec;
}
.button-small:hover{
    background-color: #fff;
    color: black;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
}


